<div class="row justify-content-md-center mt-5">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        New Intervention
      </div>

      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
